@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_img {
  background-image: url("./assets/container.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.joke_image {
  background-image: url("./assets/joke.jpg");
}



